/* variables
------------------------------------------------------------*/

:root {
  --app-height: 100vh;

  --main-fonts: Lovato, "Noto Serif JP", serif;
  --lovato-fonts: Lovato, serif;

  --black-cl: #000;
  --white-cl: #fff;
}
